# requirements.txt
#snowflake-connector-python

#cffi==1.15.0

#pyarrow<8.1.0,>=8.0.0

#streamlit >= 1.9.2


#charset-normalizer==2.0.12

snowflake-connector-python
charset-normalizer~=2.0.0




my_cnx = snowflake.connector.connect(**streamlit.secrets["snowflake"])
my_cur = my_cnx.cursor()
my_cur.execute("Subrata99(), ab67211(), ca-central-1.aws()")
my_data_row = my_cur.fetchone()
streamlit.text("Hello from Snowflake:")
streamlit.text(my_data_row)




