# requirements.txt
#snowflake-connector-python

#cffi==1.15.0

#pyarrow<8.1.0,>=8.0.0

#streamlit >= 1.9.2


#charset-normalizer==2.0.12

snowflake-connector-python
charset-normalizer~=2.0.0


my_cnx = snowflake.connector.connect(**streamlit.secrets["snowflake"])

 


streamlit.header("The Fruit Load List Contains:")
#Snowflake related functions
def get_fruit_load_list():
  with my_cnx.cursor() as my_cur:
    my_cur.execute("SELECT * from fruit_load_list")
    return my_cur.fetchall()
#Add a button to load the fruit
if streamlit.button("Get fruit load list"):
  my_cnx = snowflake.connector.connect(**streamlit.secrets["snowflake"])
  my_data_rows = get_fruit_load_list()
  my_cnx.close()
  streamlit.dataframe(my_data_rows)
