#requirements1.txt
#snowflake-connector-python


[5:36 PM] Nilotpal Roy




my_cnx = snowflake.connector.connect(**streamlit.secrets["snowflake"])

 



streamlit.header("The Fruit Load List Contains:")

#Snowflake related functions

def get_fruit_load_list():

  with my_cnx.cursor() as my_cur:

    my_cur.execute("SELECT * from fruit_load_list")

    return my_cur.fetchall()

#Add a button to load the fruit

if streamlit.button("Get fruit load list"):

  my_cnx = snowflake.connector.connect(**streamlit.secrets["snowflake"])

  my_data_rows = get_fruit_load_list()

  my_cnx.close()

  streamlit.dataframe(my_data_rows)

 

 

 



#Allow the end user to add fruit to the list

 



def insert_row_snowflake(new_fruit):

  with my_cnx.cursor() as my_cur:

    my_cur.execute("insert into fruit_load_list values ('"+new_fruit+"')")

    return " Thanks for adding " + new_fruit


add_my_fruit = streamlit.text_input('What fruit would you like to add ?')

if streamlit.button("Add a fruit to the list"):

  my_cnx = snowflake.connector.connect(**streamlit.secrets["snowflake"])

  back_from_function = insert_row_snowflake(add_my_fruit)

# my_cnx.close()

  streamlit.text(back_from_function)

 

    

#Add a button to load the favourite fruit

streamlit.header("View Our Fruit List - Add Your Favourites !")

if streamlit.button("Get Fruit List"):

  my_cnx = snowflake.connector.connect(**streamlit.secrets["snowflake"])

  my_data_rows = get_fruit_load_list()

  my_cnx.close()

  streamlit.dataframe(my_data_rows)




